
<form class="navbar-form navbar-left">
        <input type="text" id="productSearch"  class="form-control col-lg-8" placeholder="Search">
</form>

<script>
  
  $(function () {
    toastr.info("added product...");
  })

</script>

<h2>Product list</h2>
{{#if Admin}}
<div id="addBtn"><button  type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalAdd">Add New Product</button></div>

<table class="table" id="productSearchResults" >
	   <thead>
        
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Category Name</th>
          
      
      </thead>
      <tbody >
      	     {{#each products}}
			<tr>
			    <td>{{product_id}}</td>
			    <td>{{product_name}}</td>
			    <td>{{category_name}}</td>
			    <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal_{{this.product_id}}">Update</button></td>
			    <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModalDelete_{{this.product_id}}">Delete</button></td>
          
			</tr>
		    {{/each}}
      </tbody>

</table>
{{else}}
  {{msg}}
{{/if}}








<!-- Button trigger modal -->

<!-- Modal Update -->        
{{#products}}

<div class="modal fade" id="myModal_{{this.product_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update {{this.product_name}}</h4>
      </div>
      <div class="modal-body">
        <form action="/product/updateProd/{{this.product_id}}" method="POST">
			<p>Product  Name: </p><input type="text" name="product_name" value="{{this.product_name}}" placeholder="{{this.product_name}}">
      <p>Category Name: </p><input type="text" name="category_name" value="{{this.category_name}}" placeholder="{{this.category_name}}">  
      
       
	     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" type="submit">Submit</button>
      	</div>
	   </form>
      </div>
   
     
    </div>
  </div>
</div>

{{/products}}



<!-- Modal Add Product -->    

<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Product</h4>
      </div>
      <div class="modal-body">
        <form action="/product" method="POST">
			<p>Product  Name: </p><input type="text"  name="product_name" placeholder="product name">
			<p>Category Name: </p><select name="category_id">
    {{#categories}}
    <option value="{{category_id}}">{{category_name}}</option>
    {{/categories}}
    </select>
	     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" id="toastProduct" type="submit">Add Product</button>
      </div>
		</form>
      </div>
   
     
    </div>
  </div>
</div>














<!-- Modal Delete-->        
{{#products}}
<div class="modal fade" id="myModalDelete_{{this.product_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete {{this.product_name}}</h4>
      </div>
      <div class="modal-body">
        <form action="/product/deleteProd/{{this.product_id}}" method="POST">
          <h4 id="redMe">Are you sure you want to delete <span class="prodName">{{this.product_name}}</span>?</h4>
			{{!-- <p>Product  Name: </p><input type="text"  name="product_name" value="{{product_name}}"> --}}
	     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" type="submit">Delete</button>
      </div>
		</form>
      </div>
   
     
    </div>
  </div>
  </div>
{{/products}}
