<form class="navbar-form navbar-left">
        <input type="text" id="productSearch"  class="form-control col-lg-8" placeholder="Search">
</form>

<h2>Product list</h2>
{{#if Admin}}
<!-- <div id="addBtn"><button  type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalAdd">Add New Product</button></div> -->

<table class="table" id="productSearchResults">
	   <thead>
        
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Category Name</th>
          
      
      </thead>
      <tbody>
      	     {{#each products}}
			<tr>
			    <td>{{product_id}}</td>
			    <td>{{product_name}}</td>
			    <td>{{category_name}}</td>
			   
          
			</tr>
		    {{/each}}
      </tbody>

</table>
{{else}}
  {{msg}}
{{/if}}


