<h2>Spaza Sales</h2>
<table class="table">
	   <thead>
        
          <th>Day</th>
          <th>Date</th>
          <th>Stock Item</th>
          <th>Number Sold</th>
          <th>SalesPrice</th>
          
      
      </thead>
      <tbody>
      	    {{#each purchase_table}}
			<tr>
			    <td>{{day}}</td>
			    <td>{{date}}</td>
			    <td>{{stock_item}}</td>
			    <td>{{no_sold}}</td>
			    <td>{{sales_price}}</td>
			</tr>
		    {{/each}}
      </tbody>

</table>









